.bundle
.sass-cache/*
.project

*.log
*DS_Store
*.bak
.fseventsd

dump.rdb
Gemfile.lock

tmp/
vendor/bundle/*


db/*.sqlite3
log/*.pid
config/development.sphinx.conf
.powenv
.rvmrc
public/system/*
public/uploads/*
public/static_files/*
public/file_part_upload/*
public/files/*
public/test/*
coverage/
.idea/*
.idea/
*.iml
project.properties

filedownloader/filedownloader-samples/target/
filedownloader/filedownloader-samples/filedownloader-samples.iml
filedownloader/filedownloader/target/
filedownloader/filedownloader/filedownloader.iml
filedownloader/filedownloader-parent.iml

*DS_*
db/schema.rb
public/assets/*
*~
*\#*
public/convert_*
public/install_*
public/project_key/project.key
script/data/video_courses.yaml
config/oauth_key.yaml
config/survey_templates/*%  
